body {
    background-color: #01015a;
    color: white;
}

.heads {
    font-family: cursive;
}

#one {
    font-size: 12px
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: #F8E391;
}